* {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

header {
  text-align: center;
  border-bottom: 2px solid rgba(128, 128, 128, 0.15);
}

h1 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

p {
  color: gray;
  font-size: 20px;
  padding: 0 50px;
}

ul {
  list-style: none;
}

a {
  display: block;
  border: 2px solid rgba(128, 128, 128, 0.15);
  padding: 40px;
  font-size: 22px;
  font-weight: 300;
  border-radius: 10px;
  margin: 5px;

  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(0, 111, 136);
  font-size: 22px;
  transition: all 100ms ease;
}
